<form class="form-signin">
    <h2>Login</h2>
    <label for="username" class="sr-only">Username</label>
    <input type="text" required autofocus id="username" #username placeholder="Username/Email" />
    <label for="password" class="sr-only">Password</label>
    <input type="password" class="form-control" required autofocus id="password" #password placeholder="Password" />
    <button type="button">Login</button>
</form>


<h3 class="first">Addons</h3>
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">

  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">$</span>
      <input type="text" pInputText placeholder="Price">
      <span class="ui-inputgroup-addon">.00</span>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">www</span>
      <input type="text" pInputText placeholder="Website">
    </div>
  </div>
</div>

<p-multiSelect [options]="cities1" [(ngModel)]="selectedCities1"></p-multiSelect>
